// Here you can add other styles


.text-right {
    text-align: right;
}

.brand-logo {
    max-height: 35px;
}

.form-floating {
    margin-bottom: 6px;
}

.alertStyle {
    div.modal-content {
        box-shadow: 0 0 50px 50px #57575787;
    }
}

@mixin truncate($width: '100px') {
    width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.truncateWidth {
    width: var(--wdt);
    max-width: var(--mw);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}